html,
body {
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;

}

:root {
    --red: #AA0601;
    --white: #FFFFFF;
}

*,
*::after,
*::before {
    // outline: 0.5px solid yellow;
}

.max-width {
    max-width: 1296px;
    padding: 0 36px;
    margin: auto;

    @media screen and (max-width:768px) {
        padding: initial;
    }
}

.bg-red {
    background: var(--red);
}

.bg-white {
    background: var(--white);
}